In [2]:
import pandas as pd
from pathlib import Path

#import, read, and merge files
schoolData = Path("../Resources/schools_complete.csv")
studentData = Path("../Resources/students_complete.csv")

school_data_df = pd.read_csv(schoolData)
student_data_df = pd.read_csv(studentData)

school_data_complete = pd.merge(student_data_df, school_data_df, how="left", 
                                on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
#total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [4]:
#total students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [5]:
#Total Budget
total_budget = school_data_complete["budget"].sum()

total_budget

82932329558

In [6]:
#average math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
#average reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
#calculate percent of students that passed math
passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 60]
passing_math_sum = passing_math['student_name'].count()

percent_passing_math = (passing_math_sum / student_count) * 100

percent_passing_math

92.4457492979321

In [9]:
#calculate percent of students that passed reading
passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 60]
passing_reading_sum = passing_reading['student_name'].count()

percent_passing_reading = (passing_reading_sum / student_count) * 100

percent_passing_reading

100.0

In [10]:
#percent of students that passed both math and english
math_and_reading = school_data_complete[(school_data_complete['math_score'] >= 60) & 
            (school_data_complete['reading_score'] >= 60)]['student_name'].count() / student_count * 100
math_and_reading

92.4457492979321

In [11]:
#Enter data into a dataframe
summary_df = pd.DataFrame({
    "Total Schools": school_count,
    "Total Students": f"{student_count:,}", 
    "Total Budget": f"${total_budget:,.2f}", 
    "Average Math Score": f"{average_math_score:.2f}%",
    "Average Reading Score": f"{average_reading_score:.2f}%",
    "Percent of Students Passing Math": f"{percent_passing_math:.2f}%",
    "Percent of Students Passing Reading": f"{percent_passing_reading:.2f}%",
    "Percent of Students Passing Both": f"{math_and_reading:.2f}%",
                            },index=[0])

summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Percent of Students Passing Both
0,15,"39,170","$82,932,329,558.00",78.99%,81.88%,92.45%,100.00%,92.45%

In [20]:
#Group by school name
school_name = school_data_complete.set_index('school_name').groupby(['type'])

#School Types
#school_type = school_data_complete.set_index(['type'])

#Total students
school_students = school_name['Student ID'].count()

#Total school budget
#total_school_budget = school_data_complete.groupby('school_name')['budget']

school_summary = pd.DataFrame({
    "school name": school_type,
    "Total students": school_students,
    #"school budget": total_school_budget,
                                })

school_summary

ValueError: 2